{% load static %}
<div class="container-fluid shadow" style="background-color: lightskyblue">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid" style="background-color: lightskyblue">
        <a class="navbar-brand" href="{% url 'posts:index' %}">
          <img src={% static "img/logo.png" %} width="30" height="30" 
          class="d-inline-block align-top rounded" alt="">
          <span style="color:red">Ya</span>tube</a>
        </a>
        <button class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% with request.resolver_match.view_name as view_name %}  
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-item">
                <a class="nav-link text-black {% if view_name  == 'about:author' %}active{% endif %}"
                  aria-current="page"
                  href="{% url 'about:author' %}">Об авторе</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black {% if view_name  == 'about:tech' %}active{% endif %}"
                  aria-current="page"
                  href="{% url 'about:tech' %}">Технологии</a>
              </li>
            </ul>
          {% endwith %}
          <div class="navbar-nav">
            
            {% if user.is_authenticated %}
                <a href="{% url 'posts:profile' user.username %}" class="nav-link text-center">
                  {% if user.get_full_name %}
                    {{ user.get_full_name }}
                  {% else %}
                    {{ user.username }}
                  {% endif %}</a> 
            {% endif %}
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
            {% if user.is_authenticated %}
              <a href="{% url 'posts:post_create' %}" type="button" 
                class="btn btn-outline-light">Новая запись</a>

              <a href="{% url 'users:password_change_form' %}" 
                type="button" class="btn btn-outline-light">Изменить пароль</a>

              <a href="{% url 'users:logout' %}" type="button" class="btn btn-warning">Выйти</a>

            {% else %}
              <a href="{% url 'users:signup' %}" type="button" 
                class="btn btn-outline-light">Регистрация</a>
                
              <a href="{% url 'users:login' %}" type="button" class="btn btn-warning">Войти</a>
            {% endif %} 
            </div>
          </div>   
        </div>
      </div>
    </nav>
  </div>
</div>