{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container">
    <div class="row flex-v-align py-4">
      <div class="col col-xxl-3 col-xl-3 col-lg-4 col-lg-2 col-md-4 col-sm-6 col-12">
        <img src="{% static 'img/about_foto.jfif' %}" class="img-fluid rounded-circle">
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div class="home-text hp-left">
          <h1>Всем привет!</h1>
          <p>
            Так как я уже устал, мне просто лень добавлять сюда кучу карточек и т.д.(я же все таки бэк-энд разработчик:)), 
            поэтому будет простенькая страничка. Меня зовут Валерий Кириченко, я из города-героя Волгограда, мне 30, 
            работаю инженером в научно-исследовательском институте нефтяного и химического оборудования. 
            Где-то в начале 2021 года я заинтересовался языком MQL4, не буду расписывать про него,
            в общем это для трэйдинга. Python начал изучать с книги Тони Гэддиса, где-то летом 2021,
            очень советую тем кто вообще с "нуля". Подумывал о курсах и мой выбор пал на яндекс практикум. 
            Пока что все нравится. Сложно, но жутко интересно:)
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
