{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|slice:":30" }}...
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content">
    <div class="col col-lg-3 py-4">
      <div class="card shadow-sm p-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item lead">
            <a href="{% url 'posts:profile' post.author.username %}" class="text-decoration-none"><strong>
              {% if post.author.get_full_name %}
                {{ post.author.get_full_name }}
              {% else %}
                {{ post.author.username }}
              {% endif %}</strong></a> 
          </li>
          <li class="list-group-item">
            Подписчиков: {{ post.author.following.count }}<br>
            Подписан: {{ post.author.follower.count }}
          <li class="list-group-item">
            Записей: {{ post.author.posts.count }}
          </li>
          {% if post.group %}
            <li class="list-group-item"> 
              <a href="{% url 'posts:group_posts' post.group.slug %}">
                {{ post.group.title }}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col col-12 col-lg-9 py-4">
      <div class="card shadow-sm">
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img src="{{ im.url }}" class="card-img-top">
        {% endthumbnail %}
        <div class="card-body">
          {{ post.text|linebreaks }}
          <div class="row">
            <div class="col">
              {% if user == post.author %}
                <a class="btn btn-primary text-decoration-none" href="{% url 'posts:post_edit' post.id%}">
                  редактировать запись
                </a>
              {% endif %} 
            </div>
            <div class="col text-muted text-end">
              {{ post.created|date:"d E Y H:i" }}
            </div>
          </div>
        </div>
      </div>
      {% include 'posts/includes/post_comment.html' %}
    </div>
  </div>
</div>
{% endblock %}
